@import '~antd/es/style/themes/default.less';

.avatar-uploader {
  text-align: center;
}

.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
  margin: auto;
  background: #e7e7e7;
}

.ant-pro-setting-drawer-block-checkbox-item-realDark {
  background-color: rgba(0, 21, 41, .85);

  &:before {
    background-color: rgba(0, 21, 41, .65);
  }

  &:after {
    background-color: rgba(0, 21, 41, .65);
  }
}

.ant-pro-setting-drawer-block-checkbox-selectIcon {
  position: absolute;
  right: 6px;
  bottom: 4px;
  color: #1890ff;
  font-weight: 700;
  font-size: 14px;
  pointer-events: none;
}
